In [515]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime
from datetime import datetime, timedelta
%matplotlib inline

In [516]:
#importing data, spray data for the test set (2008,2010,2012,2014) is not provided. Therefore, spray info is not used for the analysis
train = pd.read_csv('./assets/train.csv')
test =pd.read_csv('./assets/test.csv')
weather = pd.read_csv('./assets/weather.csv')
#spray =pd.read_csv('./assets/spray.csv')
mapdata = np.loadtxt("./assets/mapdata_copyright_openstreetmap_contributors.txt")

In [517]:
weather.head(2)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6

In [518]:
### Station 2 contains redundant information, so we delete measurements from this station
weather = weather[weather['Station'] == 1]
weather = weather.drop('Station', axis=1)

### Depth, Water1 and Snowfall don't provide any valuable informaion.  The unique values for these columns are
#Depth ['0']
#Water1 ['M']
#SnowFall ['0.0' '  T' '0.1']
### Let's drop these:
weather = weather.drop(['Depth','Water1','SnowFall'], axis=1)

### moreover, we consider it highly doubtful that sunrise and sunset will have predictive value, so we are
### deleting these columns
weather = weather.drop(['Sunrise','Sunset'], axis=1)

weather.head(2)

,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-01,83,50,67,14,51,56,0,2,,0.00,29.10,29.82,1.7,27,9.2
2,2007-05-02,59,42,51,-3,42,47,14,0,BR,0.00,29.38,30.09,13.0,4,13.4

In [519]:
### what are the data types for each column?
for col in weather.columns:
    print col, type(weather[col][0])

Date <type 'str'>
Tmax <type 'numpy.int64'>
Tmin <type 'numpy.int64'>
Tavg <type 'str'>
Depart <type 'str'>
DewPoint <type 'numpy.int64'>
WetBulb <type 'str'>
Heat <type 'str'>
Cool <type 'str'>
CodeSum <type 'str'>
PrecipTotal <type 'str'>
StnPressure <type 'str'>
SeaLevel <type 'str'>
ResultSpeed <type 'numpy.float64'>
ResultDir <type 'numpy.int64'>
AvgSpeed <type 'str'>

In [520]:
# for columns which contain strings, we want to know which can be converted into more useful data types and which 
# should remain as text .  Let's look at the contents of each column which contains strings:
for col in weather.columns:
    if type(weather[col][0]) == str:
        print col, weather[col].unique()

Date ['2007-05-01' '2007-05-02' '2007-05-03' ..., '2014-10-29' '2014-10-30'
 '2014-10-31']
Tavg ['67' '51' '56' '58' '60' '59' '65' '68' '69' '70' '61' '55' '73' '53' '57'
 '62' '71' '75' '76' '63' '66' '74' '77' '72' '81' '80' '79' '85' '82' '78'
 '64' '50' '49' '46' '45' '54' '52' '48' '47' '44' '40' '38' '42' '83' '84'
 '37' '41' '43' '86' '87' '88' '91' '93' '89' '36' '39']
Depart ['14' '-3' ' 2' ' 4' ' 5' '10' '12' '13' '-2' '15' '11' '-4' '-6' ' 8' '-5'
 ' 1' ' 9' ' 6' '-9' '-8' ' 3' ' 0' '-1' '-7' ' 7' '-14' '18' '16' '22'
 '21' '20' '-10' '-16' '17' '-12' '-11' '-15' '-17' '19' '-13' '23']
WetBulb ['56' '47' '48' '50' '49' '46' '54' '62' '63' '60' '51' '59' '61' '43' '53'
 '44' '58' '65' '66' '67' '55' '69' '57' '64' '70' '72' '71' '68' '73' '74'
 '76' '52' '45' '42' '39' '40' '41' '35' '33' '34' 'M' '32' '38' '36' '78'
 '77' '75' '37']
Heat ['0' '14' '9' '7' '5' '6' '4' '10' '12' '8' '3' '2' '1' '15' '16' '19' '20'
 '11' '13' '17' '18' '21' '25' '27' '23' '28' '24' '22' '29' '26']
Cool [' 2' ' 0' ' 3' ' 4' ' 5' ' 8' ' 6' '10' '11' ' 1' ' 9' '12' ' 7' '16' '15'
 '14' '20' '17' '13' '18' '19' '21' '22' '23' '26' '28' '24']
CodeSum [' ' 'BR' 'RA' 'BR HZ' 'RA BR' 'RA VCTS' 'RA HZ' 'TSRA RA BR HZ' 'HZ'
 'TSRA BR HZ' 'TSRA RA BR' 'TSRA RA HZ' 'TSRA BR HZ VCTS' 'TSRA'
 'TSRA BR HZ FU' 'BR HZ FU' 'TSRA RA VCTS' 'HZ VCTS' 'RA BR VCTS'
 'TSRA RA BR VCTS' 'DZ BR' 'TS TSRA RA BR HZ' 'RA BR HZ' 'TSRA RA'
 'TS TSRA RA BR' 'TS RA BR' 'TS TSRA RA' 'TS TSRA RA BR VCTS' 'TS RA'
 'TSRA BR' 'RA DZ FG+ BCFG BR' 'RA FG+ MIFG BR' 'RA DZ' 'RA DZ BR'
 'TSRA RA FG+ FG BR' 'TSRA DZ FG+ FG BR HZ' 'TS TSRA' 'TSRA HZ' 'TS'
 'FG+ BR HZ' 'TS TSRA BR HZ' 'DZ BR HZ' 'TS TSRA BR' 'RA BR FU' 'TS BR HZ'
 'FG+ BR' 'FG+ MIFG BR' 'TSRA RA FG BR' 'DZ' 'RA DZ BR HZ' 'TS BR'
 'TS RA FG+ FG BR' 'RA DZ FG+ FG BR' 'RA BR SQ' 'RA FG BR' 'RA BR HZ FU'
 'MIFG BCFG BR' 'TSRA RA FG+ FG BR HZ' 'TSRA DZ BR HZ'
 'TS TSRA RA FG BR HZ' 'RA DZ FG+ BR' 'TSRA FG+ BR HZ' 'FG+ FG BR HZ'
 'FG BR HZ' 'TS RA BR HZ' 'BCFG BR' 'RA SN']
PrecipTotal ['0.00' '  T' '0.13' '0.38' '0.14' '0.07' '0.02' '1.01' '0.04' '0.01'
 '0.19' '0.39' '0.42' '0.28' '0.58' '0.05' '0.16' '0.15' '0.40' '0.30'
 '0.43' '0.11' '1.55' '0.17' '0.03' '1.43' '0.26' '1.31' '0.06' '0.29'
 '0.41' '0.23' '0.09' '1.33' '0.91' '0.37' '2.35' '0.24' '0.34' '0.18'
 '0.36' '0.27' '0.33' '1.28' '0.76' '0.95' '0.08' '0.12' '0.48' '0.52'
 '0.64' '1.24' '0.20' '0.72' '0.73' '1.61' '0.74' '1.05' '2.43' '2.90'
 '1.23' '6.64' '1.44' '0.82' '0.80' '0.32' '0.67' '0.55' '1.73' '0.44'
 '0.45' '3.97' '0.25' '0.68' '0.63' '0.35' '0.93' '0.22' '0.75' '0.89'
 '0.21' '0.46' '1.03' '0.60' '0.81' '0.97' '1.49' '1.02' '0.59' '0.87'
 '0.85' '0.54' '0.79' '2.79' '3.64' '0.10' '0.31' '2.24' '1.06' '1.88'
 '6.86' '0.71' '0.70' '1.11' '0.65' '1.21' '0.77' '1.34' '0.47' '1.12'
 '0.57' '0.51' '1.09' '0.56' '1.35' '0.84' '1.48' '0.92' '0.50' '1.04'
 '2.09' '1.26' '2.60' '2.76' '0.98' '1.58']
StnPressure ['29.10' '29.38' '29.39' '29.31' '29.40' '29.57' '29.29' '29.21' '29.20'
 '29.33' '29.49' '29.23' '29.13' '29.55' '29.53' '29.34' '29.41' '29.51'
 '29.36' '29.43' '29.28' '29.19' '29.03' '28.82' '29.07' '28.84' '29.18'
 '29.44' '29.30' '29.26' '29.12' '29.24' '29.32' '29.05' '29.11' '29.06'
 '29.22' '29.08' '29.25' '29.37' '29.17' '29.15' '29.47' '29.56' '29.46'
 '29.42' '29.27' '29.50' '29.16' '28.59' '28.75' '29.02' '29.79' '29.63'
 '28.95' '28.79' '29.01' '28.97' '28.85' '28.87' '28.93' '28.96' '28.94'
 '29.00' '29.60' '28.90' '28.98' '29.09' '29.35' '29.14' '29.04' '29.45'
 '29.59' '29.54' '29.52' '29.58' '29.48' '29.64' '29.65' 'M' '28.89'
 '28.91' '28.80' '28.73' '28.74' '28.55' '28.92' '28.99' '29.61' '28.81'
 '28.71' '29.62' '28.69' '28.83']
SeaLevel ['29.82' '30.09' '30.12' '30.05' '30.10' '30.29' '30.03' '29.94' '29.92'
 '30.04' '30.20' '30.24' '29.97' '29.84' '30.27' '30.25' '30.08' '30.11'
 '30.06' '30.15' '30.00' '29.91' '29.77' '29.56' '29.52' '29.79' '29.81'
 '29.55' '29.85' '30.07' '30.16' '30.02' '29.99' '29.95' '29.96' '30.13'
 '30.23' '30.22' '29.90' '29.80' '29.93' '29.98' '29.89' '30.14' '30.21'
 '29.83' '29.76' '29.87' '30.18' '30.19' '30.28' '30.17' '30.01' '29.88'
 '29.34' '29.44' '29.71' '29.78' '30.52' '30.40' '29.67' '29.53' '29.69'
 '29.86' '29.61' '29.64' '29.66' '29.70' '30.34' '29.62' '29.75' '30.26'
 '30.31' '30.32' '30.37' '30.39' '30.30' '29.73' '29.68' 'M' '29.60'
 '29.65' '29.59' '30.35' '29.48' '30.33' '30.36' '30.38' '29.74' '29.50'
 '29.25' '29.72' '29.54' '29.45' '29.43' '29.51' '29.63']
AvgSpeed ['9.2' '13.4' '11.9' '10.8' '12.0' '15.0' '10.5' '5.8' '6.2' '4.1' '12.9'
 '8.1' '17.3' '12.3' '12.2' '11.3' '7.5' '11.4' '10.7' '8.2' '10.2' '11.8'
 '8.8' '7.2' '9.5' '5.3' '6.5' '10.6' '9.9' '6.4' '7.4' '6.7' '9.7' '7.6'
 '23.1' '13.8' '5.0' '5.6' '6.9' '8.6' '6.8' '4.9' '6.3' '15.1' '8.7' '9.0'
 '8.0' '7.1' '12.5' '8.3' '7.3' '5.5' '13.1' '10.9' '11.1' '13.2' '5.2'
 '10.1' '9.1' '3.3' '4.0' '6.6' '9.4' '7.9' '5.7' '4.3' '5.9' '6.1' '9.6'
 '6.0' '3.9' '5.4' '11.7' '12.1' '13.9' '13.5' '8.5' '12.4' '9.8' '14.6'
 '4.6' '7.0' '12.8' '15.5' '3.5' '18.9' '16.7' '18.2' '14.5' '14.1' '4.2'
 '10.4' '14.3' '11.5' '12.7' '12.6' '17.7' '7.8' '15.9' '14.7' '8.4' '19.3'
 '4.8' '14.0' '21.5' '7.7' '10.0' '16.3' '11.2' '5.1' '9.3' '10.3' '4.4'
 '3.8' '2.9' '2.7' '17.8' '14.4' '16.4' '11.0' '4.7' '11.6' '13.6' '2.4'
 '8.9' '3.4' '3.0' '2.1' '20.7' '14.9' '13.0' '16.2' '17.4' '14.2' '15.2'
 '4.5' '15.3' '15.7' '18.8' '17.1' '3.7' '15.4' '3.6' '26.3' '23.2' '13.3'
 '16.9' '21.4' '14.8' '3.1' '2.3' '3.2' '15.6' '18.0' '16.1' '17.2' '17.6'
 '18.5' '13.7' '16.0' '15.8' '2.8' '1.9' '22.9']

In [521]:
# It looks like date needs to be converted into datetime format

# CodeSum needs to be converted into dummy columns containing a 0 or 1 value
# for each classification code

# Non-numeric symbols need to be removed from WetBulb, StnPressure, SeaLevel, PrecipTotal

#AvgSpeed, Tavg, Depart, WetBulb, Heat, Cool, PrecipTotal, StnPressure, SeaLevel need to be converted to floats

In [522]:
def to_float(value):
    value = value.strip()
    value = value.replace('M','nan')
    value = value.replace('T','0.0')
    value = float(value)
    return(value)

In [523]:
### converting string columns to integers
str_columns = ['AvgSpeed', 'Tavg', 'Depart', 'WetBulb', 'Heat', 'Cool', 'PrecipTotal', 'StnPressure', 'SeaLevel']
for col in str_columns:
    weather[col] = weather[col].apply(lambda x: to_float(x))

In [524]:
weather.head(10)

,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-01,83,50,67.0,14.0,51,56.0,0.0,2.0,,0.00,29.10,29.82,1.7,27,9.2
2,2007-05-02,59,42,51.0,-3.0,42,47.0,14.0,0.0,BR,0.00,29.38,30.09,13.0,4,13.4
4,2007-05-03,66,46,56.0,2.0,40,48.0,9.0,0.0,,0.00,29.39,30.12,11.7,7,11.9
6,2007-05-04,66,49,58.0,4.0,41,50.0,7.0,0.0,RA,0.00,29.31,30.05,10.4,8,10.8
8,2007-05-05,66,53,60.0,5.0,38,49.0,5.0,0.0,,0.00,29.40,30.10,11.7,7,12.0
10,2007-05-06,68,49,59.0,4.0,30,46.0,6.0,0.0,,0.00,29.57,30.29,14.4,11,15.0
12,2007-05-07,83,47,65.0,10.0,41,54.0,0.0,0.0,RA,0.00,29.38,30.12,8.6,18,10.5
14,2007-05-08,82,54,68.0,12.0,58,62.0,0.0,3.0,BR,0.00,29.29,30.03,2.7,11,5.8
16,2007-05-09,77,61,69.0,13.0,59,63.0,0.0,4.0,BR HZ,0.13,29.21,29.94,3.9,9,6.2
18,2007-05-10,84,56,70.0,14.0,52,60.0,0.0,5.0,BR,0.00,29.20,29.92,0.7,17,4.1

In [525]:
### creating new columns for dummies
codes = ['HZ', 'VC', 'FU', 'BC', 'SQ', 'FG+', 'MI', 'TS', 'DZ', 'RA', 'BR', 'FG', 'SN']
for code in codes:
    weather[code] = 0

In [526]:
def dummy_codes(x,code):
        if code in x:
            return 1
        else:
            return 0

In [527]:
for code in codes:
    weather[code] = weather['CodeSum'].apply(lambda x: dummy_codes(x,code))
weather.head(2)

,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,CodeSum,...,BC,SQ,FG+,MI,TS,DZ,RA,BR,FG,SN
0,2007-05-01,83,50,67.0,14.0,51,56.0,0.0,2.0,,...,0,0,0,0,0,0,0,0,0,0
2,2007-05-02,59,42,51.0,-3.0,42,47.0,14.0,0.0,BR,...,0,0,0,0,0,0,0,1,0,0

In [528]:
#dropping original CodeSum column
weather = weather.drop('CodeSum', axis=1)

In [529]:
### converting dates from string to datetime object and creating new column
weather['Datetime_Date'] = weather.Date.apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))

In [530]:
### columns where we want an average
columns_to_avg = ['Tavg','DewPoint','WetBulb','PrecipTotal','StnPressure','SeaLevel','AvgSpeed','HZ', 'VC', 'FU', 'BC',
       'SQ', 'FG+', 'MI', 'TS', 'DZ', 'RA', 'BR', 'FG', 'SN']
columns_to_max = ['Tmax','Heat','ResultSpeed']
columns_to_min = ['Tmin','Cool']
columns_to_sum = ['HZ', 'VC', 'FU', 'BC',
       'SQ', 'FG+', 'MI', 'TS', 'DZ', 'RA', 'BR', 'FG', 'SN']

for i in columns_to_avg:
    weather[i] = weather[i].rolling(window=30, center=False).mean()
for i in columns_to_max:
    weather[i] = weather[i].rolling(window=30, center=False).max()
for i in columns_to_min:
    weather[i] = weather[i].rolling(window=30, center=False).min()

In [531]:
### setting 
weather.set_index('Date',inplace=True, drop=True,)

In [532]:
weather.tail(10)

,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,PrecipTotal,StnPressure,...,SQ,FG+,MI,TS,DZ,RA,BR,FG,SN,Datetime_Date
Date,,,,,,,,,,,,,,,,,,,,,
2014-10-22,83.0,33.0,55.566667,-4.0,45.266667,50.266667,24.0,0.0,0.082000,29.239000,...,0.0,0.0,0.0,0.033333,0.266667,0.333333,0.366667,0.0,0.000000,2014-10-22
2014-10-23,83.0,33.0,55.066667,-1.0,45.066667,50.000000,24.0,0.0,0.082000,29.233000,...,0.0,0.0,0.0,0.033333,0.266667,0.333333,0.400000,0.0,0.000000,2014-10-23
2014-10-24,83.0,33.0,54.866667,11.0,44.966667,49.866667,24.0,0.0,0.082000,29.222333,...,0.0,0.0,0.0,0.033333,0.266667,0.333333,0.400000,0.0,0.000000,2014-10-24
2014-10-25,83.0,33.0,54.733333,13.0,44.566667,49.633333,24.0,0.0,0.082000,29.212000,...,0.0,0.0,0.0,0.033333,0.266667,0.333333,0.433333,0.0,0.000000,2014-10-25
2014-10-26,83.0,33.0,54.333333,5.0,43.866667,49.166667,24.0,0.0,0.082000,29.202000,...,0.0,0.0,0.0,0.033333,0.266667,0.333333,0.400000,0.0,0.000000,2014-10-26
2014-10-27,83.0,33.0,54.233333,16.0,43.766667,49.133333,24.0,0.0,0.082000,29.183667,...,0.0,0.0,0.0,0.033333,0.266667,0.333333,0.400000,0.0,0.000000,2014-10-27
2014-10-28,83.0,33.0,53.933333,10.0,43.200000,48.733333,24.0,0.0,0.082000,29.176000,...,0.0,0.0,0.0,0.033333,0.266667,0.333333,0.366667,0.0,0.000000,2014-10-28
2014-10-29,77.0,33.0,53.100000,-4.0,42.466667,48.133333,24.0,0.0,0.081667,29.178667,...,0.0,0.0,0.0,0.033333,0.266667,0.300000,0.333333,0.0,0.000000,2014-10-29
2014-10-30,77.0,32.0,52.733333,-4.0,42.033333,47.800000,24.0,0.0,0.081667,29.180333,...,0.0,0.0,0.0,0.033333,0.233333,0.300000,0.300000,0.0,0.000000,2014-10-30
2014-10-31,77.0,32.0,52.066667,-6.0,41.200000,47.066667,25.0,0.0,0.082667,29.189333,...,0.0,0.0,0.0,0.033333,0.233333,0.333333,0.300000,0.0,0.033333,2014-10-31

In [534]:
weather = weather.dropna()

In [535]:
weather.head()

,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,PrecipTotal,StnPressure,...,SQ,FG+,MI,TS,DZ,RA,BR,FG,SN,Datetime_Date
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-30,90.0,42.0,63.733333,13.0,45.266667,54.033333,14.0,0.0,0.059667,29.361333,...,0.0,0.0,0.0,0.066667,0.0,0.300000,0.300000,0.0,0.0,2007-05-30
2007-05-31,90.0,42.0,63.900000,8.0,45.600000,54.333333,14.0,0.0,0.060000,29.367333,...,0.0,0.0,0.0,0.066667,0.0,0.333333,0.300000,0.0,0.0,2007-05-31
2007-06-01,90.0,42.0,64.666667,10.0,46.300000,54.966667,12.0,0.0,0.066333,29.361000,...,0.0,0.0,0.0,0.100000,0.0,0.366667,0.300000,0.0,0.0,2007-06-01
2007-06-02,90.0,42.0,65.233333,9.0,47.066667,55.600000,12.0,0.0,0.067667,29.349000,...,0.0,0.0,0.0,0.100000,0.0,0.400000,0.333333,0.0,0.0,2007-06-02
2007-06-03,90.0,42.0,65.633333,6.0,47.700000,56.033333,12.0,0.0,0.068000,29.332667,...,0.0,0.0,0.0,0.133333,0.0,0.400000,0.366667,0.0,0.0,2007-06-03

In [ ]:
##Train.join(weather, on=index, how='left', lsuffix='', rsuffix='', sort=False)

In [537]:
train.join(weather, on='Date',how='left')

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,...,SQ,FG+,MI,TS,DZ,RA,BR,FG,SN,Datetime_Date
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
5,2007-05-29,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX RESTUANS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
6,2007-05-29,"2500 West Grand Avenue, Chicago, IL 60654, USA",CULEX RESTUANS,25,W GRAND AVE,T046,"2500 W GRAND AVE, Chicago, IL",41.891118,-87.654491,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
7,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
8,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
9,2007-05-29,"1100 West Chicago Avenue, Chicago, IL 60642, USA",CULEX RESTUANS,11,W CHICAGO,T049,"1100 W CHICAGO, Chicago, IL",41.896282,-87.655232,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
10,2007-05-29,"2100 North Stave Street, Chicago, IL 60647, USA",CULEX PIPIENS/RESTUANS,21,N STAVE ST,T050,"2100 N STAVE ST, Chicago, IL",41.919343,-87.694259,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
11,2007-05-29,"2200 North Cannon Drive, Chicago, IL 60614, USA",CULEX PIPIENS/RESTUANS,22,N CANNON DR,T054,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
12,2007-05-29,"2200 North Cannon Drive, Chicago, IL 60614, USA",CULEX RESTUANS,22,N CANNON DR,T054,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
13,2007-05-29,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
14,2007-05-29,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
15,2007-05-29,"1100 South Peoria Street, Chicago, IL 60608, USA",CULEX RESTUANS,11,S PEORIA ST,T091,"1100 S PEORIA ST, Chicago, IL",41.862292,-87.648860,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
16,2007-05-29,"1700 West 95th Street, Chicago, IL 60643, USA",CULEX RESTUANS,17,W 95TH ST,T094,"1700 W 95TH ST, Chicago, IL",41.720848,-87.666014,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
17,2007-05-29,"2200 West 89th Street, Chicago, IL 60643, USA",CULEX RESTUANS,22,W 89TH ST,T096,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
18,2007-05-29,"2200 West 89th Street, Chicago, IL 60643, USA",CULEX PIPIENS,22,W 89TH ST,T096,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
19,2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",CULEX PIPIENS/RESTUANS,53,N STREETER DR,T129,"5300 N STREETER DR, Chicago, IL",41.891126,-87.611560,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
20,2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",CULEX RESTUANS,53,N STREETER DR,T129,"5300 N STREETER DR, Chicago, IL",41.891126,-87.611560,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
21,2007-05-29,"6500 North Oak Park Avenue, Chicago, IL 60631,...",CULEX PIPIENS/RESTUANS,65,N OAK PARK AVE,T143,"6500 N OAK PARK AVE, Chicago, IL",41.999129,-87.795585,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
22,2007-05-29,"7500 North Oakley Avenue, Chicago, IL 60645, USA",CULEX PIPIENS/RESTUANS,75,N OAKLEY AVE,T148,"7500 N OAKLEY AVE, Chicago, IL",42.017430,-87.687769,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
23,2007-05-29,"1500 North Long Avenue, Chicago, IL 60651, USA",CULEX RESTUANS,15,N LONG AVE,T153,"1500 N LONG AVE, Chicago, IL",41.907645,-87.760886,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
24,2007-05-29,"8900 South Carpenter Street, Chicago, IL 60620...",CULEX RESTUANS,89,S CARPENTER ST,T159,"8900 S CARPENTER ST, Chicago, IL",41.732984,-87.649642,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
25,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,0.0,0.0,0.0,0.166667,0.0,0.466667,0.433333,0.000000,0.0,2007-06-05
26,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,0.0,0.0,0.0,0.166667,0.0,0.466667,0.433333,0.000000,0.0,2007-06-05
27,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,...,0.0,0.0,0.0,0.166667,0.0,0.466667,0.433333,0.000000,0.0,2007-06-05
28,2007-06-05,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,...,0.0,0.0,0.0,0.166667,0.0,0.466667,0.433333,0.000000,0.0,2007-06-05
29,2007-06-05,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,...,0.0,0.0,0.0,0.166667,0.0,0.466667,0.433333,0.000000,0.0,2007-06-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10476,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,10,S COTTAGE GROVE,T102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10477,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",CULEX RESTUANS,10,S COTTAGE GROVE,T102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10478,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",CULEX PIPIENS,10,S COTTAGE GROVE,T102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10479,2013-09-26,"5800 North Pulaski Road, Chicago, IL 60646, USA",CULEX PIPIENS,58,N PULASKI RD,T027,"5800 N PULASKI RD, Chicago, IL",41.984809,-87.728492,8,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10480,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX PIPIENS/RESTUANS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10481,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX RESTUANS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10482,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX PIPIENS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10483,2013-09-26,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10484,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10485,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10486,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10487,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10488,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10489,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10490,2013-09-26,"4800 West Montana Street, Chicago, IL 60639, USA",CULEX PIPIENS/RESTUANS,48,W MONTANA ST,T222,"4800 W MONTANA ST, Chicago, IL",41.925198,-87.746381,8,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10491,2013-09-26,"5100 North Mont Clare Avenue, Chicago, IL 6065...",CULEX PIPIENS/RESTUANS,51,N MONT CLARE AVE,T223,"5100 N MONT CLARE AVE, Chicago, IL",41.973845,-87.805059,9,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10492,2013-09-26,"5100 North Mont Clare Avenue, Chicago, IL 6065...",CULEX PIPIENS,51,N MONT CLARE AVE,T223,"5100 N MONT CLARE AVE, Chicago, IL",41.973845,-87.805059,9,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10493,2013-09-26,"8200 South Kostner Avenue, Chicago, IL 60652, USA",CULEX PIPIENS/RESTUANS,82,S KOSTNER AVE,T225,"8200 S KOSTNER AVE, Chicago, IL",41.743402,-87.731435,8,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10494,2013-09-26,"East 91st Place, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,65,E 91ST PL,T227,"6500 E 91ST PL, Chicago, IL",41.728495,-87.600963,5,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10495,2013-09-26,"East 91st Place, Chicago, IL, USA",CULEX PIPIENS,65,E 91ST PL,T227,"6500 E 91ST PL, Chicago, IL",41.728495,-87.600963,5,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10496,2013-09-26,"1700 West Addison Street, Chicago, IL 60613, USA",CULEX PIPIENS/RESTUANS,17,W ADDISON ST,T224,"1700 W ADDISON ST, Chicago, IL",41.947227,-87.671457,9,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10497,2013-09-26,"West Garfield Boulevard, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,90,W GARFIELD BLVD,T226,"9000 W GARFIELD BLVD, Chicago, IL",41.793818,-87.654234,5,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10498,2013-09-26,"1300 North Laramie Avenue, Chicago, IL 60651, USA",CULEX PIPIENS/RESTUANS,13,N LARAMIE AVE,T230,"1300 N LARAMIE AVE, Chicago, IL",41.904194,-87.756155,9,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10499,2013-09-26,"1300 North Laramie Avenue, Chicago, IL 60651, USA",CULEX PIPIENS,13,N LARAMIE AVE,T230,"1300 N LARAMIE AVE, Chicago, IL",41.904194,-87.756155,9,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10500,2013-09-26,"3900 North Springfield Avenue, Chicago, IL 606...",CULEX PIPIENS/RESTUANS,39,N SPRINGFIELD AVE,T228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10501,2013-09-26,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10502,2013-09-26,"5800 North Ridge Avenue, Chicago, IL 60660, USA",CULEX PIPIENS/RESTUANS,58,N RIDGE AVE,T231,"5800 N RIDGE AVE, Chicago, IL",41.987280,-87.666066,8,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10503,2013-09-26,"1700 North Ashland Avenue, Chicago, IL 60622, USA",CULEX PIPIENS/RESTUANS,17,N ASHLAND AVE,T232,"1700 N ASHLAND AVE, Chicago, IL",41.912563,-87.668055,9,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10504,2013-09-26,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26
10505,2013-09-26,"4200 West 65th Street, Chicago, IL 60621, USA",CULEX PIPIENS/RESTUANS,42,W 65TH ST,T235,"4200 W 65TH ST, Chicago, IL",41.776428,-87.627096,8,...,0.0,0.0,0.0,0.100000,0.0,0.133333,0.166667,0.033333,0.0,2013-09-26

In [490]:
#creating function to convert date strings into datetime
dates_list = ['2003-01-20', '2004-3-01']
#split_list = [datetime.datetime(int(y[0]),int(y[1]),int(y[2])).strftime("%Y-%m-%d") for y in [x.split('-') for x in dates_list]]
dt=datetime.strptime(dates_list[0],'%Y-%m-%d')